.direnv/
*cweb.log
*.tmp
.venv
external/

# outputs
output.txt
dist/

# build folders
bin/
ui/public/
ui/build/
ui/node_modules/

# Removing Vendor
vendor/

.vscode/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.html
coverage
coverage.txt

# ignore keyfiles
*.crt
*.key
*.pem

# ignore mac files
.DS_Store
